.header {
    background-color: grey;
    border: 5px solid grey;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}
.title {
    text-align: center;
    border: 5px solid grey;
    border-radius: 10px;

}