.header {
	border: 5px solid grey;
	background-color: grey;
	border-radius: 10px;
	color: white;
	font-size: 20px;
}
.title {
	text-align: center;
	border-radius: 10px;
	border-spacing: 0cm;
	text-decoration: underline;
	font-weight: bold;
	font-family: lobster;
}
.information {
    font-family: comic sans ms;
}