.header {
    border: 5px solid grey;
    background-color: grey;
    border-radius: 10px;
    color: white;
    font-size: 20px;

}
.title {
    text-align: center;
    border: 5px solid grey;
    border-radius: 10px;
    border-spacing: 0cm;
}